﻿@section style {
    <style type="text/css">
        body {
            background-color: #32A060;
        }

        input[type=text] {
            max-width: 690px;
        }
    </style>
}

<div class="container-login">
    <img src="/imagem/logo.png" />
    <h1>ZapWeb</h1>
    <div class="container-form">
        <input type="text" placeholder="E-mail" />
        <br />
        <input type="text" placeholder="Senha" />

        <div class="container-button">
            <input type="button" value="ACESSAR" />
            <input type="button" value="CADASTRAR" />
        </div>
    </div>
</div>