body {
    font-family: sans-serif;
    margin: 0px;
}
.container-login {
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    color: white;
    width: 100%;
    max-width: 740px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
.container-form {
    margin-top: 100px;
}
.container-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}
.container-logo {
    text-align: center;
    width: 320px;
}
.container-user-item {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 35px 35px 0px 35px;
    align-items: center;
}
.container-user-item span {
    margin-left: 20px;
    font-size: 14px;
}
.container-user-item:hover {
    cursor: pointer;
}
    .container-user-item .email {
        color: lightgray;
    }
.container-messages {
    overflow: auto;
    height: calc(100vh - 80px);
}
.container-list {
    text-align: center;
}
.container-list-plus {
    padding: 20px;
    margin: 10px;
    border: 1px solid white;
    color: white;
}
.container-list-plus span {
    display: block;
    margin-bottom: 10px;
    
}
input[type=text] {
    background-color: #267848;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 15px 25px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
}
input[type=text]::placeholder {
    color: white;
}
input[type=button]:hover, .btn-send:hover {
    background-color: #1D5C37;
}
input[type=button], .btn-send {
    background-color: #267848;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 15px 25px;
    width: 33%;
    font-size: 18px;
}
.btn-send {
    width: 70px;
    border-radius: 30px;
    background-image: url("../imagem/send.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 51px;
    margin-left: 15px;
}


.message {
    width: 65%;
    margin: 15px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    border: .5px solid #F2F2F2;
    -webkit-box-shadow: 0px 4px 17px 0px rgba(219,219,219,1);
    -moz-box-shadow: 0px 4px 17px 0px rgba(219,219,219,1);
    box-shadow: 0px 4px 17px 0px rgba(219,219,219,1);
}

.message-left {
    float: left;
    text-align: start;
}
.message-right {
    float: right;
    text-align: end;
}
.message-head {
    background-color: white;
}
.message-message {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #8C8C8C;
}








/* --- SideBar --- > https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp*/
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 320px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #32A060; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #F2F2F2;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: white;
  }
  
  /* Style page content */
  .main {
    margin-left: 320px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }