﻿<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    @RenderSection("style", false)
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>
