﻿@section style {
    <style type="text/css">
        body {
            background-color: #F0F0F0;
        }
    </style>
}

<!-- Side navigation -->
<div class="sidenav">
    <div class="container-logo">
        <img src="/imagem/logo.png" style="width: 50%;" />
        <a href="#" id="btnSair">Sair</a>
    </div>
    <div id="users">
        
    </div>

</div>

<!-- Page content -->
<div class="main" id="tela-conversacao">
    <div class="container-messages">
        <div class="message message-left">
            <div class="message-head">
                <img src="/imagem/chat.png" />
                Aline
            </div>
            <div class="message-message">
                Olá José! Como vai?
            </div>


        </div>
        <div class="message message-right">
            <div class="message-head">
                <img src="/imagem/chat.png" />
                Eu
            </div>
            <div class="message-message">
                Olá José! Como vai?
            </div>
        </div>

    </div>

    <div class="container-button">
        <input type="text" placeholder="Mensagem" />
        <button class="btn-send"></button>
    </div>
</div>